@model IEnumerable<SkyblockProject.Models.Collection>

@{
    ViewData["Title"] = "Index";
}
<h1 class="card-title">Sammlungen und Beschreibung</h1>
<p class="flow-text">Sammlungen sind eine Möglichkeit, neue Craftingrezepte  freizuschalten, Gegenstände zu tauschen oder  Belohnungen für das Sammeln eines bestimmten Gegenstands zu erhalten.</p>


<table class="table">
    <thead>
        <tr>
            <!--
                <th>
                    @Html.DisplayNameFor(model => model.CollectionTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fk_CollectionGroup)
                </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.CollectionLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionNeededExp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionUnlock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Where(i => i.CollectionTitle == "Kaktus")) {
    if (item.CollectionLevel == 2)
            {
                <tr>
                    <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.CollectionTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fk_CollectionGroup)
                        </td>
                    -->
                    <td>
                        @Html.DisplayFor(modelItem => item.CollectionLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CollectionNeededExp)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
}
    </tbody>
</table>
