@model IEnumerable<SkyblockProject.Models.Collection>

@{
    ViewData["Title"] = "Index";
}
<h1 class="card-title">Sammlungen und Beschreibung</h1>
<p class="flow-text">Sammlungen sind eine Möglichkeit, neue Craftingrezepte  freizuschalten, Gegenstände zu tauschen oder  Belohnungen für das Sammeln eines bestimmten Gegenstands zu erhalten.</p>

<!-- Farming Collection -->
<table style="width:100%">
    <tr>
        <td style="width:20%">
            <p class="overcollection-title">Farming Sammlung</p>
        </td>
        <td style="width:80%">
            <img class="image" src="../Images/Icons/FarmingCollectionIcon.png" alt="Farming Collection Icon"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="flow-text">Die Farming Sammlung enthält folgende Items. Durch das sammeln dieser Items erhöht sic hderen Sammlungslevel und man schaltet jegliche Rezept, Items, etc. frei.</p>
        </td>
    </tr>
</table>

<!-- Kaktus Collection -->

<table class="collection-table">
    <tr>
        <td width="25%">
            <p class="collection-title">Kaktus Sammlung</p>
        </td>
        <td>
            <img class="collection-image" src="../Images/Collections/CactusCollection.jpg" alt="Kaktus Collection Icon"/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <p class="collection-text">
                Das Kaktus Sammlungslevel wird beim Farmen von Kakteen erhöht. 
                <br />
                Kakteen lassen sich vorallem auf der Pilzinsel finden.
            </p>
        </td>
    </tr>
</table>

<table class="collection-table">
    <thead>
        <tr>
            <!--
                <th>
                    @Html.DisplayNameFor(model => model.CollectionTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fk_CollectionGroup)
                </th>
            -->
            <th>
                Sammlungslevel
            </th>
            <th>
                Benötigte Erfahrungspunkte
            </th>
            <th>
                Belohnung
            </th>
            <!--
                Insert Tableheader element when implementing Edit/Details/Delete actions
            <th>
                Aktionen
            </th>
            -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(i => i.CollectionTitle == "Kaktus")) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionNeededExp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionUnlock)
                </td>
                <!--
                    Edit/Details/Delete Functions currently not needed.
                    Implement when still time left.
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                -->
            </tr>
        }
    </tbody>
</table>

<!-- Kaktus Collection -->

<!-- Farming Collection -->