@model IEnumerable<SkyblockProject.Models.Collection>

@{
    ViewData["Title"] = "Index";
}
<h1 class="card-title">Sammlungen und Beschreibung</h1>
<p class="flow-text">Sammlungen sind eine Möglichkeit, neue Craftingrezepte  freizuschalten, Gegenstände zu tauschen oder  Belohnungen für das Sammeln eines bestimmten Gegenstands zu erhalten.</p>


<table class="table">
    <thead>
        <tr>
            <!--
                <th>
                    @Html.DisplayNameFor(model => model.CollectionTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fk_CollectionGroup)
                </th>
            -->
            <th>
                Collection Level
            </th>
            <th>
                Benötigte Erfahrungspunkte
            </th>
            <th>
                Freischalten
            </th>
            <!--
                Insert Tableheader element when implementing Edit/Details/Delete actions
            <th>
                Aktionen
            </th>
            -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(i => i.CollectionTitle == "Kaktus")) {
            <tr>
                <!--
                        <td>
                            @Html.DisplayFor(modelItem => item.CollectionTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fk_CollectionGroup)
                        </td>
                    -->
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionNeededExp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionUnlock)
                </td>
                <!--
                    Edit/Details/Delete Functions currently not needed.
                    Implement when still time left.
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                -->
            </tr>
        }
    </tbody>
</table>
